<div class="m-2 rounded-4 bg-light p-3">
  <div class="alert alert-primary">
    <h1> Bienvenido a nuestro sitio</h1>
  </div>

  {{#if isSession}}
    <div>
      <a href="/api/session/profile" class="btn btn-primary btn-lg">
        <i class="bi bi-box-arrow-in-right"></i>
        Perfil
      </a>
    </div>
    <br>
    <div>
      <a href="/api/session/protected" class="btn btn-primary btn-lg">
        <i class="bi bi-box-arrow-in-right"></i>
        Ruta Protegida
      </a>
    </div>
    <br>
    <div>
      <a href="/api/session/current" class="btn btn-primary btn-lg">
        <i class="bi bi-box-arrow-in-right"></i>
        Current
      </a>
    </div>
  {{else}}
    <div>
      <a href="/login" class="btn btn-primary btn-lg">
        <i class="bi bi-box-arrow-in-right"></i>
        Iniciar Sesión
      </a>
      <a href="/register" class="btn btn-success btn-lg">
        <i class="bi bi-pencil-square"></i>
        Registrese
      </a>
      <a href="/restorePassword" class="btn btn-warning btn-lg">
        <i class="bi bi-wind"></i>
        Reset Password
      </a>
    </div>
  {{/if}}
</div>